<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>first line in layout</h1>
        @RenderBody()

        <h1>last line in layout</h1>
    </div>
</body>
</html>
