
<div>

    List of all available drinks
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">



@{
    foreach (drinks drink in Model.drinks)
    {
      @await Html.PartialAsync("DrinksSummary", drink);
    }
}
@{
}
  